body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 50px;
    max-width: 600px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.logo-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.logo-namegame img {
    width: 160px;
    height: 160px;
    border: 3px solid black;
    border-radius: 50%;
}

.btn-predict {
    display: block;
    width: 100%;
    margin-top: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
